@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..400&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

html[dir=rtl] body {
  font-family: "Cairo", sans-serif;
}

html[dir=ltr] body {
  font-family: "Cairo", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #c59946;
  border: 1px solid #c59946;
}

::-webkit-scrollbar-thumb {
  background: #c59946;
}

::-moz-selection {
  background: #c59946;
  color: #fff;
}

::selection {
  background: #c59946;
  color: #fff;
}

::-moz-selection {
  background: #c59946;
  color: #fff;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #c59946;
  opacity: 1;
}

[multiple]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #c59946;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  border-color: #c59946;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.back {
  transform: translate(0) !important;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: 0;
  left: initial;
  transform: var(--backRightIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #fff;
  width: 50%;
  height: 100%;
}
.loader::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: initial;
  right: initial;
  left: 0;
  transform: var(--backLefttIn);
  margin: auto;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  background: #fff;
  width: 50%;
  height: 100%;
}
.loader .spinner .item.item-1 {
  background-color: #166434;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-2 {
  background-color: #d2b065;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-3 {
  background-color: #00396a;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
.loader .spinner .item.item-4 {
  background-color: #000000;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
}
@keyframes item-1_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(30px, 0);
  }
}
@keyframes item-2_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 0);
  }
  50% {
    transform: translate(-30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
}
@keyframes item-3_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  75% {
    transform: translate(-30px, 0);
  }
}
@keyframes item-4_move {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, -30px);
  }
  75% {
    transform: translate(0, -30px);
  }
}

nav ul li.active a::after {
  top: 0px;
}
nav ul li a::after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: initial;
  right: 0;
  left: 0;
  transform: initial;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #f08526;
  z-index: -1;
}

.click-nav .handle {
  height: 1px;
  width: 40px;
  margin: 0.7em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  transform: rotate(45deg);
  width: 40px;
  position: relative;
  top: -5px;
}
.click-nav .closed:nth-of-type(1) {
  top: 7px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.main-body-slider #sliderHome .owl-item.active .over-info h1,
.main-body-slider #sliderHome .owl-item.active .over-info p {
  transition: 1s;
  animation-name: translateInfo;
  animation-fill-mode: both;
}
.main-body-slider #sliderHome .owl-item.active .over-info h1 {
  animation-duration: 1s;
  animation-delay: 1s;
}
.main-body-slider #sliderHome .owl-item.active .over-info p {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
@keyframes translateInfo {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateY(0px);
  }
}

.owl-nav {
  position: absolute;
  top: 50%;
  bottom: initial;
  right: 0;
  left: initial;
  transform: translateY(-50%);
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.owl-nav button {
  width: 45px;
  height: 45px;
  background-color: #f08526 !important;
  color: #fff !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-dots {
  display: none;
}

html[dir=ltr] .img-about {
  transform: scale(-1.1, 1.1);
}

.bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-40 {
  background-color: transparent !important;
}/*# sourceMappingURL=global.css.map */